.authorsContainer {
  padding: 2rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; 
  justify-content: center;
}

.card {
  width: 180px;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: solid 1px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
}
.card:hover{
    background-color: #2f4858;
    color: white;
}



.authorImage {
  width: 100%;
  height: 240px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 1rem;
}
.card:hover .authorImage {
  border: solid white 1.4px;
}

.authorName {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px; 
  order: -1; /* met le nom en haut de la card */
}


.authorButton {
  margin-top: auto; /* pousse le bouton en bas si nécessaire */
  padding: 0.5rem 1rem;
  background-color: #2f4858;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 0.9rem;
}

.authorButton:hover {
  background-color: #1e2d35;
  border: solid white 1px;
  transform: translateY(-2px);
}