@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


header {
    padding: 50px;
    background-color: white;
}

.headerContent h1 {
    text-align: center;
    font-family: Roboto;
    color: #2f4858;;
}

.slogan {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: #2f4858;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 13px;
  background-color: #e8f6ff;
  transition: 0.7s;
  
  cursor: pointer;
}
.card:hover {
  background-color: white;
}

.icon {
  width: 90px;
  height: 90px;
  margin-bottom: 1rem;
  
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.card span {
  font-size: 1.1rem;
  font-weight: 500;

  color: #060606;
}

.flagSection h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: roboto ;
  color : #2f4858

}


.explorerSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto ;
  padding: 3rem 1rem;
  
  text-align: center; 
}
.explorerSection h2 {
  color : #2f4858;
}


.citation {
  font-style: italic;
  font-size: 1.2rem;
  color: #2f4858;
  margin: 1.5rem 0;
}

.citation span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}

.description {
  color: #333;
  max-width: 600px;
  margin: 0 auto 1.5rem;
}

.exploreButton {
  background-color: #2f4858;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.exploreButton:hover {
  background-color: #3d5a6a;
}
