@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


header {
    padding: 50px;
    background-color: white;
}

.headerContent h1 {
    text-align: center;
    font-family: Roboto;
    color: #2f4858;;
}

.slogan {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: #2f4858;;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
border: 1px solid #b0c4de;
  padding: 10px;
  border-radius: 13px;
  background-color: #e8f6ff;
  transition: 0.7s;
  cursor: pointer;
}
.card:hover {
  background-color: white;
}

.icon {
  width: 90px;
  height: 90px;
  margin-bottom: 1rem;
  
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.card span {
  font-size: 1.1rem;
  font-weight: 500;

  color: #060606;
}

.flagSection h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: roboto ;
  color : #2f4858

}
