.countriesContainer {
  padding: 2rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 13px;
  border : solid 1px black;
  background-color: #e8f6ff;
  max-width: 180px;
  transition: transform 0.3s;
  transition:  0.3s;
}
.card:hover {
  background-color: white;
}

.card:hover {
  transform: scale(1.05);
}

.flag {
  width: 80px;
  height: 50px;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #2f4858;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #3d5a6a;
}
